pizza {
    text-align: center;

}

p {
    color: black;
    text-align: center;
    line-height: 1;
    font-family: Lora, 'Times New Roman', serif;
    font-size: 12pt;

}


.article {
    padding-top: 15px;
    margin-right: auto;
    padding: 15px;
    height: 150px;
    flex: 1;
    width: 90%;
}

.pad {
    padding-top: 2%
}

.flex {
    display: flex;
}

.section {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

h2 {
    text-align: center;
